* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins' sans-serif;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.04rem;
}

.left {
    font-size: 2rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstsection>div {
    width: 30%
}

.leftsection {

    width: 34px;
    font-size: 3rem;
}

.leftsection .buttons {
    padding: 50px 0;
}

.leftsection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightsection img {
    width: 56%;
    margin: 50px 0;
}

.purple {
    color: blueviolet;
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(153, 153, 226);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background: white;
    width: 72vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 170px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #0e0e1a;
    height: 133px;

}

.footer {
    display: flex;
    padding: 23px 122px;
}

footer .footer-rights {
    text-align: center;
    color: grey;
    padding: 12px 0;
}

.btn:hover{
    font-size:  1.04rem;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
    font-size: 3rem;
}

.name{
    color: #9c97f1;
}

.aboutme{
    top: 0%;
    color: gray;
    font-size: 2rem;
    margin: 5%;
}

.developer-jpg{
    width: 17%;
    margin-left: 38%;
    margin-top: 2%;
}